# UNITE-COVID data curation notebook (R-Kernel)

## Version 3.1
### 13th February 2022

This describes the curation process. We use the finalised dataset "UNITE_COVID_19_global_export-1Dec2020 CSV.csv" 
as the source data / master dataframe. The working dataframe is 'working.df' and is updated by the curation script.

"UNITE_curation_dictionary.xlsx" contains curation/explanatory notes.

ESICM UNITE-COVID curation team
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093
- Paul W Elbers (Amsterdam UMC: Amsterdam, NL) ORCID: 0000-0003-0447-6893
- Harm-Jan de Grooth (VU University Medical Center: Amsterdam, NL) ORCID: 0000-0002-7499-076X
- Thomas De Corte (Universiteit Gent: Gent, BE) ORCID: 0000-0001-5011-6640
- Massimiliano Greco (Humanitas University, Rozzano, IT) ORCID: 0000-0003-1003-4637

Coagulation free-text curation dictionaries
- Andrea Lavinio (Cambridge University Hospitals NHS Foundation Trust: Cambridge, GB)
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093

Usage: 
Add data file as "./data/UNITE_COVID_19_global_export-1Dec2020.csv"

Dictionaries are in "./dictionaries"

Then source the current pipline and execute the function get_data() which returns the curated dataset as a dataframe

In [2]:
source("curation_pipeline_version_3_1.R")

data.df <- get_data()

Warning message in get_data():
“NAs introduced by coercion”
Warning message in as.numeric(working.df$INF_ANTIBIO1_INT) %in% validAbx:
“NAs introduced by coercion”

**UNITE-COVID data curation notebook (R-Kernel)**

In [3]:
head(data.df)

  NEW_COUNTRY_ID NEW_SITE_ID NEW_SUBJECT_ID Iteration INC_CRIT1_YN INC_CRIT2_YN
1 01             03          01             1         TRUE         TRUE
2 01             03          02             1         TRUE         TRUE
3 01             03          03             1         TRUE         TRUE
4 01             03          04             1         TRUE         TRUE
5 01             03          05             1         TRUE         TRUE
6 01             06          01             1         TRUE         TRUE
  INC_CRIT3_YN INC_CRIT4_YN INC_SEX_RAD INC_AGE_INT ⋯ OUT_ICU_DURATION_INT
1 TRUE         FALSE        Male        67          ⋯ 61
2 TRUE         FALSE        Male        47          ⋯  9
3 TRUE         FALSE        Male        66          ⋯  9
4 TRUE         FALSE        Male        65          ⋯ 14
5 TRUE         FALSE        Female      63          ⋯ 40
6 TRUE         FALSE        Female      84          ⋯ NA
  OUT_DEAD_DURING_ICU_YN OUT_HOSP_DURATION_INT OUT_DISCHARGE_RRT_YN
1 NA                     NA                    NA
2 TRUE                   NA                    NA
3 TRUE                   NA                    NA
4 TRUE                   NA                    NA
5 NA                     53                    NA
6 NA                     NA                    NA
  OUT_DEATH_DURING_ICU_YN.... INF_WITHOUT_ANTIMIC_INT OUT_DEATH_DURING_ICU_YN
1 ,,,,                        40                      NA
2 1,,,,                        0                      TRUE
3 1,,,,                       16                      TRUE
4 1,,,,                        0                      TRUE
5 ,,,,                         9                      NA
6 ,,,,                        NA                      NA
  NEW_BMI  NEW_COAG_DVT_DAILY_DOSE NEW_COAG_ANTIPLAT_DAILY_DOSE
1 24.22145  6000                    NA
2 26.29758  6000                    NA
3 27.75510  6000                    NA
4 29.41176  6000                    NA
5 23.87511  6000                    NA
6 24.24242 12000                   125